# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./src/server/db/sqlite.db"

# Stripe
STRIPE_API_KEY="replace_me"
STRIPE_WEBHOOK_SECRET="replace_me"
NEXT_PUBLIC_STRIPE_KEY="replace_me"
NEXT_PUBLIC_STRIPE_MANAGE_URL="https://billing.stripe.com/p/login/4gw9BD79Nbji6uk7ss"
STRIPE_SECRET_KEY="here"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="insert_Public_key_here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_STRIPE_TEST_PUBLISHABLE_KEY="insert_test_publishable_key_here"
STRIPE_TEST_SECRET_KEY="insert_test_secret_key_here"

# Google Places API (for address validation & autocomplete)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="replace_me"

